body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sans-serif;
}

.app{
    text-align: center;
}

.app h1{
    font-size: 25px;
}

#btn{
    padding: 10px 20px;
    border: none;
    font-size: 30px;
    border-radius: 10px;
    background-color: green;
    color: white;
}

